body {
    background-color: antiquewhite;
    height: 100vh;

    #container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        flex-wrap: wrap;
        margin: auto;
        width: 1000px;
        aspect-ratio: 1;

        .box {
            border: 1px solid black;
            padding: 2rem;
            width: calc((100% / 12) * 2);
            aspect-ratio: 1;
        }

        .red {
            background-color: red;
        }
    }
}