body {
    background-color: antiquewhite;
    position: relative;

    & header {

        & h1 {
            text-align: center;
            margin-bottom: 5rem;
        }
    }

    & main {
        position: relative;
    }

    #container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        flex-wrap: wrap;
        margin: auto;
        width: 1000px;

        .box {
            border: 2px solid blue;
            border-radius: 1rem;
            padding: 2rem;
            width: calc((100% / 12) * 2);
            aspect-ratio: 1;
            display: flex;
            justify-content: center;
            align-items: center;

            & i {
                font-size: 3rem
            }

            .fa-diamond {
                color: gold;
                border: 3px solid gold;
                transform: rotate(45deg);
                padding: 1rem;
            }

        }

        .green {
            border: 1px solid rgb(4, 255, 4);
            box-shadow: 5px 10px rgb(4, 255, 4);
        }

    }

    #error {
        font-size: 3rem;
        position: absolute;
        right: 10rem;
        top: 15rem;
    }

    #hardcore {
        position: absolute;
        right: 9.2rem;
        top: 20rem;
    }

    #retry {
        text-align: center;
        font-size: 1.3rem;
        border-radius: 0.5rem;
        position: absolute;
        left: 56.75rem;
        bottom: -5rem;
    }
}