body {
    background-color: antiquewhite;
    position: relative;

    #container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        flex-wrap: wrap;
        margin: auto;
        width: 1000px;
        aspect-ratio: 1;

        .box {
            border: 1px solid blue;
            border-radius: 1rem;
            padding: 2rem;
            width: calc((100% / 12) * 2);
            aspect-ratio: 1;
            display: flex;
            justify-content: center;
            align-items: center;

            & i {
                font-size: 3rem
            }

            .fa-diamond {
                color: gold;
                border: 3px solid gold;
                transform: rotate(45deg);
                padding: 1rem;
            }

        }

    }

    #error {
        font-size: 3rem;
        position: absolute;
        right: 10rem;
        top: 15rem;
    }

    #hardcore {
        position: absolute;
        right: 9.2rem;
        top: 20rem;
    }
}